/* Google Fonts import */

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:wght@300&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter Tight", sans-serif;
  --secondary-font: "Great Vibes", cursive;
  --tertiary-font: "Lora", serif;
  --primary-color: #231610; /* Dark espresso for base text or UI elements */
  --secondary-color: #fdfbf5; /* light ivory for backgrounds or containers */
  --highlight-color: #4c89a1; /* Slate blue for buttons/links */
  --highlight-color-light: #85adc0; /* Sky blue for hover or light accents */
  --gold-tint: #f6e8b1; /* lighter gold* /
}
/* Global styles */

body {
  background-color: var(--secondary-color);
}

/* Buttons */

.custom-button-filled {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0;
}

.custom-button-filled:hover{
  transform: scale(1.2);
  color: var(--primary-color);
  background-color: var(--gold-tint);
}


/* Navbar */

.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 10;
}

.navbar .container-fluid {
  position: relative;
  padding: 1.5rem;
  margin-bottom: 0;
  background-color: var(--highlight-color-light);
  box-shadow: 0 2px 2px rgba(35, 22, 16, 0.2);
}

.navbar-brand {
  position: absolute;
  left: 50%;
  top: 0.5rem;
  transform: translateX(-50%); /* center the brand */
  font-family: var(--secondary-font);
  font-size: 50px;
  color: var(--primary-color);
  pointer-events: none; /* prevents blocking toggler clicks */
}

.navbar-toggler {
  z-index: 1040; /* Make sure it sits above the brand */
}

nav .nav-link:hover{
  transform: scale(1.2);
  color: var(--gold-tint);
}

nav .nav-link {
  font-size: 1.25rem;
  font-family: var(--primary-font);
}

/* Header */

#header {
  position: relative;
  margin-top: 6rem;
  padding-top: 2rem;
  margin-bottom: 200px;
}

.header-text h1 {
  font-family: var(--tertiary-font);
  margin-bottom: 4rem;
  font-size: 3rem;
}

.header-text p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.image-container {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.home-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header-text {
  max-width: 500px;
  margin-left: 0;
  text-align: left;
  font-family: var(--primary-font);
}

/* Carousel */

.quote {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  font-family: var(--primary-font);
  font-style: italic;
  color: var(--primary-color);
}

#carousel {
  padding-top: 20px;
  padding-bottom: 100px;
  position: relative;
  top: -90px; /* moves it upward */
}

/* About Chef */

.about-chef-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.about-chef-text {
  max-width: 600px;
  margin-left: 8rem;
  margin-right: 0;
  font-family: var(--primary-font);
  text-align: left;
}

.about-chef-text h2 {
  font-family: var(--tertiary-font);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-chef-text p {
  font-size: 1.5rem;
  line-height: 1.6;
}

/* Menu */

.card, 
.card .list-group-item {
  background-color: var(--secondary-color) !important;
}

.card {
  border: none;
  box-shadow: 0 2px 8px rgba(35, 22, 16, 0.1); 
}

.card-header {
  font-weight: bold;
  color: var(--primary-color);
  display: block;
  margin-bottom: 0.25rem;
  font-family: var(--primary-font);
  font-size: 1.25rem;
}

#menu h2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-family: var(--tertiary-font);
  font-size: 3rem;
}

#menu .card {
  margin-bottom: 8rem;
  background-color: var(--secondary-color);
}

.menu-label {
  font-weight: bold;
  color: var(--primary-color);
  display: block;
  margin-bottom: 0.25rem;
  font-family: var(--primary-font);
  font-size: 1.25rem;
}

.list-group-item p {
  margin: 0.3rem 0 0.5rem;
  font-size: 1.25rem;
  font-family: var(--primary-font);
}

.card-footer {
  font-weight: bold;
  color: var(--primary-color);
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: var(--primary-font);
  font-size: 1.25rem;
}


/* Footer */

#contact {
  background-color: var(--highlight-color-light);
  text-align: center;
  box-shadow: 0 -4px 6px rgba(35, 22, 16, 0.2);
  padding: 0.5rem;
}

#contact h2 {
  font-family: var(--secondary-font);
  font-size: 3rem;
}

footer i {
  margin-right: 0.5rem;
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 0 0.5rem;
  margin-top: 0.5rem;
}

footer i:hover{
  transform: scale(1.2);
  color: var(--gold-tint);
}

/* Responsive layout for mobile */

@media (max-width: 767.98px) {
  /* styles for screen width up to 767.98px (small devices) */
  #about-chef .image-container {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  #about-chef .about-chef-text {
    text-align: center;
    padding-left: 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #menu .list-group-item {
        min-height: 191px;
    }
}

/* Large devices */
@media screen and (min-width: 992px) {
    #menu .list-group-item {
        min-height: auto;
    }
}

/* xl devices */
@media screen and (min-width: 1200px) {
    #menu .list-group-item {
        min-height: 220px;
    }
}

/* xxl devices */
@media screen and (min-width: 1400px) {
    #menu .list-group-item {
        min-height: 195px;
    }
}